body {
    background-color: lightblue;
    /* color: white; */
    /* font-family: 'Water Brush', cursive; */
}

p {
    width: 700px;
    margin: 15px auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    background-color: blue;
    padding: 15px 30px;
    font-size: 3em;
    border: 5px solid darkblue;
    margin: 50px 100px 10px 300px;
}
h2 {
    color: pink;
    background: brown;
}

.thinner{
    width: 500px;
    line-height: 1.5em;
}

#myname{
    font-size: 3em;
    font-family: 'Water Brush', cursive;
}