header{
    padding: 0px;

}
.p-img-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
#checkbox{
    display: none;
}
img{
    display: flex;
    justify-content: center;
    width: 70px;
}
.burger{
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
    background-color: black;
}
.line.top{
    grid-column: 1;
    margin-top: 20px;
    /* margin-left: -10px; */
    border-top: 5px solid white;
    /* transform: translateY(-3) scaleX(.88235); */
}

.line.bottom{
    grid-column: 1;
    border-top: 5px solid white;
    margin-top: 10px;
    margin-bottom: 20px;
    /* margin-left: -10px; */
    /* transform: translateY(3) scaleX(.88235); */
}
input:checked + label .line.bottom{
    grid-column: 1;
    transform: rotateZ(45deg);
}
input:checked + label .line.top{
    grid-column: 1;
    transform: rotateZ(-45deg);
}
input:checked + label .drop-down{
    opacity: 0.8;
    grid-column: 1/-1;
    margin-top: 2em 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}
.drop-down{
    display: none;
}
.whitewords{
    margin: 1em 10%;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
}
#whitewords:hover{
    margin: 1em 10%;
    background-color: rgb(255, 253, 253);
    opacity: 0.8;
}
#slow{
    transition-timing-function: ease-in-out;
}
.largeimg{
    width: 80%;
    margin: auto;
}
.pleft{
    font-size: 2em;
    justify-content: center;
    grid-column: 1/3;
    padding: 2em;
    background-color: lightgray;
}
#pright{
    font-size: 2em;
    justify-content: center;
    grid-column: 2/4;
    padding: 2em;
    background-color: lightgray;
}
#boat{
    grid-row: 2;
}
footer{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr 2fr 1fr;
    grid-template: 100px/1fr 1fr 1fr 5fr 2fr 1fr;
}
.icons{
    margin: auto;
}
#bottom-left{
    grid-column: -1;
    margin-top: 110%;
    margin-right: 5%;
}
#menu-bar{
    color: white;
    margin: auto;
    font-size: 50px;
}